<div class="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <mat-toolbar-row>
            <span>Protecto Crypto</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <app-protect-form></app-protect-form>

    <div class="footer">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-5 made-by-container">
                    <p>Made with <i class="mdi mdi-heart"></i> by {{ creator }}</p>
                </div>
                <div class="col-3">
                    <ul>
                        <li class="right-link"><i class="mdi mdi-git"></i> Source</li>
                        <li class="right-link"><i class="mdi mdi-earth"></i> Me</li>
                        <li class="right-link"><i class="mdi mdi-twitter"></i> Twiter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>