.footer {
    /* font-size: 14pt; */
    color: white;
    margin-top: 40px;
    display: block;
}

.made-by-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-link {
    display: flex;
    align-items: center;
}

.right-link > i {
    font-size: 30pt;
}