<div class="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <mat-toolbar-row>
            <span>Protecto Crypto</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <app-protect-form></app-protect-form>

    <div class="footer">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <p>Made with ❤️ by {{ creator }}</p>
                    <p class="right-link"><i class="mdi mdi-git"></i> Source</p>
                    <p><i class="mdi mdi-earth"></i> Me</p>
                    <p><i class="mdi mdi-twitter"></i> Twiter</p>
                </div>
            </div>
        </div>
    </div>
</div>