.footer {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 40px;
    display: block;
    padding: 10px;
}

.made-by-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul {
    margin-bottom: 0px;
    list-style-type: none;
}

.right-link {
    line-height: 1.3;
}

.right-link > a {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.right-link i {
    font-size: 30pt;
    margin-right: 8pt;
}