.form-field {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.form-field > input {
    width: 100%;
}

.protect-buttons-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.protect-buttons-container > button {
    margin-right: 8px;
}

.copy-paste-row {
    display: flow-root;
}

.material-icons {
    float: right;
}