<div class="container my-form">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <mat-tab-group>
        <mat-tab label="Protect">
          <mat-form-field class="my-form">
            <input matInput placeholder="Key" value="{{ formKey }}">
          </mat-form-field>
        
          <mat-form-field class="my-form">
            <textarea matInput placeholder="Text to encrypt/decrypt"  value="{{ formText }}"></textarea>
          </mat-form-field>

          <div class="protect-buttons-container">
            <button mat-raised-button color="primary" (click)="encryptData()">Encrypt</button>
            <button mat-raised-button color="primary">Decrypt</button>
          </div>
        
          <mat-form-field class="my-form">
            <textarea matInput placeholder="Result" value="{{ formResult }}"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="About">
          <h1>About this app</h1>
          <p>This is the about info</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>