.my-form {
    display: flex;
    flex-direction: column;
}

.my-form > input {
    width: 100%;
}

.protect-buttons-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.copy-paste-row {
    display: flow-root;
}

.material-icons {
    float: right;
}