<!-- <div class="container my-form">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <mat-tab-group>
        <mat-tab label="Encrypt/Decrypt!">
          <h2>Stuff to put:</h2>
      
          <mat-form-field class="my-form">
            <input matInput placeholder="Key" value="{{ theTitle }}">
          </mat-form-field>
        
          <mat-form-field class="my-form">
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
        
          <mat-select placeholder="Select" class="my-form">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-tab>
        <mat-tab label="About">
          <h1>About this thing</h1>
          <p>This is the about tab</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div> -->